:root {
    --principal: #0f232f;
    --secundario: #fcfffc;
    --terciario: #ba3423;
    --background: #ffffff;
    --backgroundSecundario: #eae8d8
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

button,
.itemListHeader {
    cursor: pointer;
}

.container_titulo_foto {
    background-color: var(--backgroundSecundario);
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    


}
.container_detalle_precio{
    width: 100vw;
    display:flex;
    justify-content: center;
}
.contenedor_flexible{
    display:flex;
    justify-content: space-between;
    width: 80%;
}
.header__container {
    height: 8vh;
    width: 100vw;
    display: flex;
    background-color: var(--principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__navigation,
.container__actions {
    width: 30vw;

}

.container__search {
    width: 40vw;
    display: flex;
    justify-content: space-between;
}

.container__search button {
    width: 10vw;
    border-radius: .4rem;
    height: 4.2vh;
    margin-left: .8rem;
    border: none;
}

.container__search input {
    width: 30vw;
    height: 4vh;
    border-radius: .4rem;
    border: none;
    outline: none;
    font-size: 1.5vh;
    padding-left: 2rem;
}

.container__search input::placeholder {
    font-size: 1.5vh;

}

.container__navigation ul,
.container__actions ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: var(--secundario);
    text-align: center;
}
.detalles_producto{
    display:flex;
    flex-direction: column;
    cursor: pointer;
    
    background-color: var(--backgroundSecundario);
    width: 70%;
    
    border-radius: .4rem;
}
.headerList {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoHeader {
    width: 5vw;
}

.buttonIngresar {
    width: 10vw;
    border-radius: .4rem;
    height: 4.2vh;
    border: none;
}

.container__principalAtajos{
    width: 100vw;
    height: 20vh;   
    display: flex;
    justify-content: center;
}
.container__atajos{
    display: flex;
    justify-content: space-around;
    width: 70vw;
    margin-top: 7vh;
}
.principal__atajos-containerimg{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    background-color: var(--backgroundSecundario);
    width: 15vw;
    height: 15vh;
    border-radius: .4rem;

}
.principal__atajos-containerimg img{
    width: 5vw;
}
.containerProduct__section{
    margin-top: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.containerPrincipal__product{
    display: grid;
    width: 70vw;
    grid-template-columns: repeat(4, 1fr);
    max-height: 60vh;
    overflow-y: auto;
}
.containerTarget{
    margin-top: 2vh;
    width: 17vw;
    height: 35vh;
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#ebecec;
}
.containerTarget img{
    width: 15vw;
    height: 25vh;
    border-radius: .4rem;
    box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.descript__product{
    margin-top: 2vh;
    display: flex;
    justify-content: space-around;
    width: 100%;
   
}

.descript__product p {
    font-size: 2.5vh;
    font-weight: 400;
}
/* Columns */
.left-column{
    
    margin:auto;
}
.left-column img{
    width: 40vw;
    margin:auto;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
  }
  .right-column {
    width: 25%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--backgroundSecundario);
  }

  .button-carrito{
    width: 100%;
  }

  .left-column img.active {
    opacity: 1;
  }
  /* Product Description */
.product-description {
    /* border-bottom: 1px solid #E1E8EE; */
    background-color: var(--backgroundSecundario);

    
  }
  .product-description span {
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    
  }
  .product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
    margin-left: 10vw;
}
.product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
}
/* Product Price */
.product-price {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    background-color: var(--backgroundSecundario);

  }
   
  .product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
    background-color: var(--backgroundSecundario);

  }
   
  .cart-btn {
    display: flex;
    justify-content: center;
    background-color:var(--principal);
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 2vh;
    padding-bottom: 2vh;
    transition: all .5s;
    width: 100%;
  }
  .cart-btn:hover {
    background-color: var(--principal);
  }
  .extras{
    display: flex;
    gap: 10px;
   
  }
  .footerSection {
    width: 100vw;
    padding-top: 10vh;
    background-color: var(--principal);
    color: #ffffff;
}

.containerImg__footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerImg__footer img {
    margin-top: 2vh;
    width: 20vw;
}

.container__information-footer {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
}

.mainContainer__footer,
.container-contact__Footer,
.container-horarios__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container-brand__footer {
    width: 100vw;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3vw;
    margin-bottom: 5vh;

}