:root {
    --principal: #0f232f;
    --secundario: #fcfffc;
    --terciario: #ba3423;
    --background: #ffffff;
    --backgroundSecundario: #eae8d8;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.input-wrapper {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
  }
button,
.itemListHeader {
    cursor: pointer;
}
.imagen_central{
  position: relative;
  float: left;
  width: 40%;
  top: 200px;
  left: 400px;
}
.container__principal 
{
    position:absolute;
    background-color: var(--background);
    top: 0;
  right: 1;
    width: 100vw;
    height: 100vh;
    margin-left: 800px;
    margin-top: 14%;
}

.header__container {
    height: 8vh;
    width: 100vw;
    display: flex;
    background-color: var(--principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__navigation,
.container__actions {
    width: 30vw;

}

.container__search {
    width: 40vw;
    display: flex;
    justify-content: space-between;
}

.container__search button {
    width: 10vw;
    border-radius: .4rem;
    height: 4.2vh;
    margin-left: .8rem;
    border: none;
}

.container__search input {
    width: 30vw;
    height: 4vh;
    border-radius: .4rem;
    border: none;
    outline: none;
    font-size: 1.5vh;
    padding-left: 2rem;
}

.container__search input::placeholder {
    font-size: 1.5vh;

}

.container__navigation ul,
.container__actions ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: var(--secundario);
    text-align: center;
}

.headerList {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoHeader {
    width: 5vw;
}

.buttonIngresar {
    width: 10vw;
    border-radius: .4rem;
    height: 4.2vh;
    border: none;
}

.container__principalAtajos{
    width: 100vw;
    height: 20vh;   
    display: flex;
    justify-content: center;
}
.container__atajos{
    display: flex;
    justify-content: space-around;
    width: 70vw;
    margin-top: 7vh;
}
.principal__atajos-containerimg{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    background-color: #eae8d8;
    width: 15vw;
    height: 15vh;
    border-radius: .4rem;

}
.principal__atajos-containerimg img{
    width: 5vw;
}
.containerProduct__section{
    margin-top: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.containerPrincipal__product{
    display: grid;
    width: 70vw;
    grid-template-columns: repeat(4, 1fr);
    max-height: 60vh;
    overflow-y: auto;
}
.containerTarget{
    margin-top: 2vh;
    width: 17vw;
    height: 35vh;
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#ebecec;
}
.containerTarget img{
    width: 15vw;
    height: 25vh;
    border-radius: .4rem;
    box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.descript__product{
    margin-top: 2vh;
    display: flex;
    justify-content: space-around;
    width: 100%;
   
}

.descript__product p {
    font-size: 2.5vh;
    font-weight: 400;
}